:root {
  --header-bg: #f0f8fa;
  --link-color: #333333;
  --link-hover-color: #1894ad;
  --active-link-color: #1894ad;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--header-bg);
  z-index: 100;
  height: calc(3.5rem + 1rem);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  margin: 0 100px;
}

.nav__logo {
  display: flex;
  margin-top: 5px;
}

.logo {
  max-height: 60px;
  width: auto;
}

.nav__toggle,
.nav__close {
  font-size: 1.5rem;
  color: var(--link-color);
  cursor: pointer;
  display: none;
}

.nav__list {
  display: flex;
  flex-direction: row;
  column-gap: 2.5rem;
}

.nav__link {
  color: var(--link-color);
  font-weight: 600;
  transition: color 0.3s;
}

.nav__link:hover {
  color: var(--link-hover-color);
}

.active {
  color: var(--active-link-color);
}

@media screen and (max-width: 942px) {
  .nav {
    margin: 0 20px;
  }

  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--header-bg);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  }

  .nav__toggle,
  .nav__close {
    display: initial;
  }

  .nav__list {
    flex-direction: column;
    row-gap: 2.5rem;
  }
}

.show-menu {
  right: 0;
}
