.cookies-container {
  margin-top: 100px;
  max-width: 1340px;
  margin-right: 25vw;
  margin-left: 22vw;
}

.cookies-title {
}

.cookies-text {
  line-height: 1.6rem;
}

.cookies-text h2 {
  margin-bottom: 10px;
  margin-top: 50px;
}

.cookies-text p {
  margin-bottom: 20px;
}

.cookies-text ul,
.cookies-text ol {
  list-style: none;
}

.privacy-settings-link {
  margin-bottom: 20px;
  margin-top: 50px;
}
