.form-container {
  max-width: 600px;
  margin: 100px auto 0px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-container .MuiFormControl-root {
  margin-bottom: 16px;
}

.form-container .MuiFormGroup-root {
  margin-bottom: 16px;
}

.form-container .MuiButton-root {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}

.form-container .MuiTypography-root {
  margin-bottom: 20px;
  text-align: center;
}

.additional-comp-btns {
  display: flex;
}
.additional-comp-btns button {
  flex: 1;
  margin: 0px 4px 15px 4px;
  font-weight: bold;
  padding: 4px 8px;
  text-transform: none;
}
