.admin-jobs-container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 100px auto 60px auto;
  padding: 0 20px;
}

.admin-jobs-title {
  margin-bottom: 8px;
  font-weight: 600;
}

.admin-jobs-subtitle {
  margin-bottom: 24px;
}

.admin-jobs-table-container {
  overflow-x: auto;
}

.admin-jobs-header .MuiTableCell-head {
  background-color: #919191;
  color: white;
  font-weight: 600;
}

.admin-jobs-row:nth-child(even) {
  background-color: #ffffff;
}

.admin-jobs-row:nth-child(odd) {
  background-color: #ebebeb;
}

.job-title {
  font-weight: 600;
  margin-bottom: 4px;
}

@media (max-width: 1300px) {
  .admin-jobs-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
