.table-container-admin {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 100px auto 60px auto;
}

.btn-link-admin {
  margin-left: auto;
  margin-bottom: 5px;
}

.salary-table-admin {
  table-layout: fixed;
  width: 100%;
}

.table-header-admin .MuiTableCell-head {
  color: white;
  font-weight: var(--font-semi-bold);
}

.table-header-admin p {
  font-weight: var(--font-semi-bold);
  font-size: 0.85rem;
}

.table-header-admin span {
  font-weight: normal;
  font-size: 0.7rem;
}

.empty-span-admin {
  display: inline-block;
}

.table-header-admin {
  background-color: #919191;
}

.table-rows-admin:nth-child(even) {
  background-color: #ffffff;
}

.table-rows-admin:nth-child(odd) {
  background-color: #ebebeb;
}

.expand-cell-admin {
  width: 80px;
  padding: 0 8px;
}

.company-location-cell-admin {
  width: 35%;
}

.type-of-practice-cell-admin {
  width: 25%;
}

.years-of-experience-cell-admin {
  width: 10%;
  padding-left: 2px !important;
}

.years-of-experience-label-admin {
  white-space: nowrap;
}

.total-compensation-cell-admin {
  width: 35%;
}

.verification-document-cell-admin {
  width: 30%;
}

.admin-actions-cell-admin {
  width: 45%;
}

@media (max-width: 1300px) {
  .table-container-admin {
    padding-left: 25px;
    padding-right: 25px;
  }
}
