.verify-email-form-container {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verify-email-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px 30px 50px;
  width: 25%;
  height: 60%;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  min-width: 443px;
}

.email-address {
  font-weight: var(--font-weight-bold);
}

.verify-input {
  width: 100%;
  margin: 15px 0px;
}

@media (max-width: 515px) {
  .verify-email-form-container {
    text-align: center;
  }
  .verify-instructions {
    max-width: 80%;
  }
  .verify-email-form {
    min-width: 90%;
  }
  .enter-below {
    display: block;
  }
}
