.appbar {
  background-color: var(--color-header-footer) !important;
}

.logo {
  margin-left: 100px;
  height: 50px;
}

.desktop_nav_items {
  margin-left: auto;
}

.desktop_nav_item {
  color: var(--color-text-dark);
  padding: 10px 20px;
}

.desktop_nav_item:hover {
  color: var(--color-primary);
}

.desktop_nav_item.active {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}

#logout {
  text-decoration: none;
  color: var(--color-text-dark);
  padding: 10px 20px;
  margin-right: 15px;
  margin-left: 5rem;
}

#logout:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.nav_container {
  display: flex;
  justify-content: space-between;
}

#burger_menu {
  display: none;
  color: var(--color-text-dark);
}

#jobs_link {
  position: relative;
  padding: 0 15px;
  text-decoration: none;
}

#jobs_link::after {
  content: "NEW";
  position: absolute;
  top: -15px;
  right: -5px;
  background-color: #ff4081;
  color: white;
  font-size: 0.6em;
  padding: 2px 4px;
  border-radius: 4px;
  transform: rotate(15deg);
}

#jobs_link:hover::before,
#jobs_link:hover::after {
  animation: twinkle 1s infinite alternate;
}

@keyframes twinkle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@media (width <= 850px) {
  .desktop_nav_items {
    display: none;
  }

  .logout-button-desktop {
    display: none;
  }

  #burger_menu {
    display: block;
    margin-top: 10px;
    margin-left: 2rem;
  }

  #drawer-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    max-width: 100vw;
  }

  .mobile_nav_item .MuiListItemText-primary {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .mobile_nav_item {
    padding: 20px 0px 20px 0px;
    color: var(--color-primary);
  }

  .logo {
    margin-left: 0;
  }
  #logout {
    cursor: pointer;
  }
}
