.appbar {
  background-color: var(--color-header-footer) !important;
}

.logo {
  margin-left: 100px;
  height: 50px;
}

.desktop_nav_items {
  margin-right: 100px;
}

.desktop_nav_item {
  color: var(--color-text-dark);
  padding: 10px 20px;
}

.desktop_nav_item:hover {
  color: var(--color-primary);
}

.desktop_nav_item.active {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}

.nav_container {
  display: flex;
  justify-content: space-between;
}

#burger_menu {
  display: none;
  color: var(--color-text-dark);
}

@media (width <= 600px) {
  #burger_menu {
    display: block;
    margin-top: 10px;
  }

  .logo {
    margin-left: 0;
  }

  .desktop_nav_items {
    display: none;
  }
}
