.tos-container {
  margin-top: 100px;
  max-width: 1340px;
  margin-right: 25vw;
  margin-left: 22vw;
}

.tos-title {
}

.tos-text {
  line-height: 1.4rem;
}

.tos-text h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.tos-text p {
  margin-bottom: 20px;
}

.tos-text ul,
.tos-text ol {
  list-style: none;
}

.tos-text li {
}
