.table-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0px auto 100px auto;
}

.btn-link {
  margin-left: auto;
}

.salary-table {
  table-layout: fixed;
}

.table-header .MuiTableCell-head {
  color: white;
  font-weight: var(--font-semi-bold);
}

.table-header p {
  font-weight: var(--font-semi-bold);
  font-size: 0.85rem;
}

.table-header span {
  font-weight: normal;
  font-size: 0.7rem;
}

.empty-span {
  display: inline-block;
}

.table-header {
  background-color: #919191;
}

.table-rows:nth-child(even) {
  background-color: #ffffff;
}

.table-rows:nth-child(odd) {
  background-color: #ebebeb;
}

@media (max-width: 1300px) {
  .table-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 480px) {
  .years-of-experience-header {
    display: none;
  }

  .salary-table td:nth-child(3),
  .salary-table th:nth-child(3) {
    display: none;
  }
  .table-header p {
    font-size: 0.8rem;
  }

  .table-header span {
    font-size: 0.6rem;
  }

  .table-rows div p,
  .table-rows div span {
    font-size: 0.7rem;
  }
}
