.table-container {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  border: 1px solid lightgrey;
  overflow-x: auto;
}
.salary-table {
  width: 100%;
}

.table-header .MuiTableCell-head {
  color: white;
  font-weight: var(--font-semi-bold);
}

.table-header p {
  font-weight: var(--font-semi-bold);
  font-size: 0.85rem;
  white-space: nowrap;
}

.table-header span {
  font-weight: normal;
  font-size: 0.7rem;
}

.empty-span {
  display: inline-block;
}

.table-header {
  background-color: #919191;
}

.table-rows:nth-child(even) {
  background-color: #ffffff;
}

.table-rows:nth-child(odd) {
  background-color: #ebebeb;
}
