.table-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 100px auto 60px auto;
}

.table-actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn-link {
  margin-left: auto;
  margin-bottom: 5px;
}

.salary-table {
  table-layout: fixed;
  width: 100%;
}

.table-header .MuiTableCell-head {
  color: var(--color-text-light);
  background-color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}

.table-header p {
  font-weight: var(--font-weight-bold);
  font-size: 0.85rem;
}

.table-header span {
  font-weight: var(--font-weight-regular);
  font-size: 0.7rem;
}

.empty-span {
  display: inline-block;
}

.table-rows:nth-child(even) {
  background-color: var(--color-table-alternate);
}

.table-rows:nth-child(odd) {
  background-color: var(--color-text-light);
}

.expand-cell {
  width: 60px;
  padding: 0 8px;
}

.company-location-cell {
  width: 35%;
}

.type-of-practice-cell {
  width: 25%;
}

.years-of-experience-cell {
  width: 15%;
  padding-left: 2px !important;
}

.years-of-experience-label {
  white-space: nowrap;
}

.total-compensation-cell {
  width: 35%;
}

.search-inputs {
  display: flex;
  gap: 20px;
}

.search-input {
  width: 200px;
}

@media (max-width: 1300px) {
  .table-container {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 760px) {
  .table-container {
    min-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .table-actions {
    align-items: center;
    justify-content: space-evenly;
  }

  #add-compensation {
    font-size: 0.7rem;
    width: 160px;
  }
  .table-header {
    font-size: var(--font-size-sm);
  }
  .table-header p {
    font-size: 14px;
  }

  .table-header span {
    font-size: 12px;
  }
  .expand-cell {
    width: 10px;
    padding-left: 0px !important;
  }
  .company-location-cell {
    width: 30%;
  }
  .type-of-practice-cell {
    width: 30%;
  }
  .total-compensation-cell {
    width: 35%;
    padding-right: 5px !important;
  }
  .total-comp-th {
    width: 1rem !important;
  }
  .years-of-experience-cell {
    display: none !important;
  }
}
