.expanded-detail-container {
  margin: 10px;
}

.table-rows:nth-child(even) {
  background-color: var(--color-table-alternate);
}

.table-rows:nth-child(odd) {
  background-color: var(--color-text-light);
}

.expanded-row-title {
  font-size: 1.1rem;
  margin-bottom: 0.35em;
}

.yoe {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 0.3fr);
  gap: 5px 1px;
  margin-left: 100px;
}

.sign-on .percent-production .days-per-week .number-vets .gender {
  font-size: 14px;
}

@media (max-width: 760px) {
  .company-location-cell p {
    font-size: 14px;
  }
  .company-location-cell span {
    font-size: 12px;
  }

  .type-of-practice-cell p {
    font-size: 14px;
  }
  .type-of-practice-cell span {
    font-size: 12px;
  }
  .expanded-row-title {
    font-size: 15px;
  }
  .yoe {
    display: block;
  }
  .grid-container {
    display: block;
    margin-left: 50px;
  }
  .sign-on .percent-production .days-per-week .number-vets .gender {
    font-size: 13px;
  }
}
